<!DOCTYPE html>
<html>
<head>
<title>OpenWanderer</title>
<style type="text/css">
body { font-family: helvetica, arial, sans-serif; }
#viewer { 
    width: 800px; 
    height: 600px; 
    border: 1px solid black;
}
input[type=text] {
    width: 100px;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/three/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uevent@2/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.js"></script>
<script type='module' src='js/bundle.js'></script>
</head>
<body>

<h1>OpenWanderer Demo App</h1>
<div id='logindiv'>
Email address:
<input id='username' />
Password:
<input id='password' type='password' />
<input type='button' id='login' value='login' />
<input type='button' id='signup' value='signup' />
</div>
<p>You can upload panoramas (if logged in) and select a latitude/longitude or pano ID to navigate to.</p>
<form method="get">
Lon: <input name="lon" type="text"/>
Lat: <input name="lat" type="text" type="text"/>
<strong>Or:</strong>
Pano ID:<input name="id" type="text"/>
<input type="submit" value="Go!" />
</form>

<div id="pano" style="width: 800px; height: 600px"></div>


<div id='upload' style='display: none'>
<form method='post' enctype='multipart/form-data'>
<fieldset style="width: 800px; border: 1px solid black; padding: 0px">
Select your file(s): <input type='file' id='panoFiles' multiple /><br />
<progress id='progress' value='0' max='100' style='width: 90%'></progress><br />
<span id='uploadProgress'></span><br />
<input type='button' id='uploadBtn' value='Upload!'>
</fieldset>
</form>
<p id='uploadStatus'></p>
</div>


<!-- SVG developed by Eesger Toering / knoop.frl / Project GEO Archive -->
<!-- TODO: dynamically create the SVG                                  -->
<svg height="1" width="1" style="position:absolute;top:-1px;left:-1px;">
  <defs>
    <radialGradient id="GAgradient1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%"   stop-color="rgba(255, 255, 255, 1.0)"/>
      <stop offset="25%"  stop-color="rgba(255, 255, 255, 1.0)"/>
      <stop offset="100%" stop-color="rgba(255, 255, 255, 0.4)"/>
    </radialGradient>
    <radialGradient id="GAgradient0" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%"   stop-color="rgba(255, 255, 255, 0.5)"/>
      <stop offset="100%" stop-color="rgba(255, 255, 255, 0.5)"/>
    </radialGradient>
    <linearGradient id="GAgradient0T" x2="0" y2="1">
      <stop offset="0%"   stop-color="rgba(255, 255, 255, 0.35)"/>
      <stop offset="100%" stop-color="rgba(255, 255, 255, 0.35)"/>
    </linearGradient>
    <linearGradient id="GAgradient2T" x2="0" y2="1">
      <stop offset="0%"   stop-color="rgba(255, 255, 255, 0.35)"/>
      <stop offset="10%"  stop-color="rgba(255, 255, 255, 0.35)"/>
      <stop offset="100%" stop-color="rgba(255, 255, 255, 0.85)"/>
    </linearGradient>
    <linearGradient id="GAgradient3T" x2="0" y2="1">
      <stop offset="0%"   stop-color="rgba(255, 255, 255, 0.85)"/>
      <stop offset="90%"  stop-color="rgba(255, 255, 255, 0.35)"/>
      <stop offset="100%" stop-color="rgba(255, 255, 255, 0.35)"/>
    </linearGradient>
  </defs>
</svg>
</body>
</html>
