<!DOCTYPE html>
<html>
<head>
<title>OpenWanderer</title>
<style type="text/css">
body { font-family: helvetica, arial, sans-serif; }
#viewer { 
	width: 800px; 
	height: 600px; 
	border: 1px solid black;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.min.css"/>
<script type='module' src='js/dist/simple.bundle.js'></script>
</head>
<body>
<h1>OpenWanderer</h1>
<p>The journey begins...</p>
<div id="pano" style="width: 800px; height: 600px"></div>
</body>
</html>
